.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.Header {
  color: black;
  font-size: 20px;
}

.Content {
  color: black;
  font-size: 20px;
}

.Image{
  padding-top: 25px;

}

.Map {
  color: black;
  font-size: 20px;
}

.Toolbar {
  float: none;
  width: 30%;
  margin: 0 auto;
}

.Buttons{
  padding-top: 20px;
  margin: 0 auto;
}

.Textfield{
  float: none;
  margin: 0 auto;
}
